.container {
    width: 30%;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(241, 235, 235, 0.5);
}

.redCard {
    background-color: rgb(252, 150, 150);
}

.blueCard {
    background-color: rgb(125, 164, 248);
}

.nestedCard {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(241, 235, 235, 0.5);
}